* {
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: rgb(30, 75, 74);
  }
  
  .navbar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    width: 100%;
    color: white;
  }
  
  .logo-container{
    flex: 1;
    color: white;
  }
  
  .logo {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
  }
  
  .menu-container{ 
    flex: 10;
  }

  .menu-list{
    display: flex;
    list-style: none;
  }

  .menu-list-item{
    margin-right: 30px;
    font-weight: bold;
    cursor: pointer;
    font-family:  'Poppins', sans-serif;
  }
  
  
a {
  font: bold;
  color: #f1f1f1;
}


.featured-content{
  height: 50vh;
  padding: 50px;
}

.featured-title{
  width: 600px;
  margin: 0px;
}

.featured-desc{
  width: 500px;
  color: rgb(255, 255, 255);
  margin: 30px 0;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Monoton', cursive;
}

h1.featured-desc {
  font-size: 60px;
  font-style: inherit;
  font-weight: bolder;
}

h2.featured-desc {
  margin-top: -55px;
  font-size: 60px;
  font-style: inherit;
  font-weight: bolder;
}

#about{
  font-family: 'Poppins', sans-serif;
  background-image: url(image/gretel.jpeg);
  margin-left: -50px;
  width: 104%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-repeat: no-repeat;
}

.about-text {
font-family:'Poppins', sans-serif;
  margin-top: 100px;
  width: 20%;
  color: white;
  text-align: left;
}

.about-text p{
  font: 1.2rem;
  color: rgb(227, 225, 225);
  margin-left: -900px;
  width: 900px;
}

h2 {
  margin-top: 50px;
  font-family: 'Bungee Shade', cursive;
  font-weight: bolder;
  font-size: 30px;
  color: goldenrod;
  text-align: center;
}

.movie-list-container{
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}


.movie-list{
  display: flex;
  height: 300px;
  align-items: center;
  margin-top: 30px;
  margin-left: 50px;
  flex-wrap: wrap;
}

.movie-list-item{
  margin-right: 30px;
  margin-left: 20px;
  transition: all 1s ease-in-out;
  margin: 20px;
  position: relative;
  background: none;
  
}

.movie-list-item:hover .movie-list-item-img{
  transform: scale(1.2);
  margin: 0px 30px;
  opacity: 1;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
  opacity: 1;
}

.movie-list-item-img{
  height: 270px;
  width: 200px;
  margin-top: 40;
  transition: all 1s ease-in-out;
  margin-bottom: 40;
}

.movie-list-item-title{
  background-color: rgb(72, 24, 24);
  padding: 0 10px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  color: rgb(255, 255, 255);
  transition: 1s all ease-in-out;
}


.movie-list-item-button{
  padding: 10px;
  color: black;
  background-color:goldenrod;
  font-weight: bolder;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  left: 40%;
  transition: 1s all ease-in-out;
  font-family: 'Montserrat', sans-serif;
}

.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  
}

/* Style the submit button */
.search button {
  float: left;
  width: 50px;
  padding: 1px;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-style: none;
  border-radius: 5px;
}

/* Clear floats */
.search::after {
  content: "";
  clear: both;
  display: table;
}

.button-logout {
  font-family:'Montserrat', sans-serif;
  border-style: none;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.register-button{
  font-family:'Montserrat', sans-serif;
  border-style: none;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-right: 20px;
}

.profile-button {
  font-family:'Montserrat', sans-serif;
  border-style: none;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-right: 40px;
}

.topup-button {
  font-family:'Montserrat', sans-serif;
  border-style: none;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-right: 350px;
  font-weight: bold;
}