* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
  }
  
  
  .navbar{
      width: 100%;
      height: 50px;
      background-color: rgb(30, 75, 74);
    }
    
    .navbar-container{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 50px;
      height: 100%;
      width: 100%;
      color: white;
    }
    
    .logo-container{
      flex: 1;
      color: white;
    }
    
    .logo {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        color: rgb(100, 140, 139);
        margin-left: 30px;
        margin-top: 10px;
        font-weight: bolder;
      }

.card {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 15px;
}