body {font-family: 'Roboto', sans-serif;
    background-image: url('image/CINEMA_SEATS.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    color: cornsilk;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
}


input[type=text], input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(210, 198, 198);
  box-sizing: border-box;
  margin-left: 20px;
  border-radius: 10px;
}

button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  border-radius: 10px;
}

input[type=submit] {
    background-color: maroon;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: 20px;
    margin-left: 20px;
  }

label {
  margin-left: 20px;
}

p {
  margin-left: 20px;
}

h1 {
  color: white;
  margin-left: 20px;
}

#registerForm {
  color: white;
}

#loginForm {
  color: white;
}