body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('image/comingsoon.jpg');
    background-size: 150%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    ;
}

.title-login {
  font-family: 'Montserrat', sans-serif;
  margin-top: 70px;
  color: black;
  align-items: center;
  margin-left: -30px;
  font-weight: 900;
}

.register-title {
  color: black;
  font-weight: 900;
}

input[type=text], input[type=password] {
  width: 70%;
  padding: 12px 20px;
  margin: 5px 0px;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  margin-left: 20px;
  border-radius: 10px;
  background: none;
  outline: none;
  color: rgb(0, 0, 0)
}

button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}

input[type=submit] {
  font-family: 'Montserrat', sans-serif;
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  margin-left: 20px;
  border-radius: 10px;
  background: none;
  outline: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  }

  input[type=submit]:hover {
    font-family: 'Montserrat', sans-serif;
    color: maroon;
  }

label {
  margin: 10px;
  margin-left: 40px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

p {
  text-align: center;
  margin-top: 520px;
  color: black;
}

h1 {
  color: white;
  margin-left: 20px;
  text-align: center;
  margin-top: 60px;
}

#registerForm {
  color: white;
}

#loginForm, #registerForm {
  margin-top: 60px;
  color: white;
  width: 400px;
  height: 430px;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  position: absolute;
  margin-left: -15px;
}

#loginForm.h1, #registerForm.h1 {
  color: white;
  font-weight: 700;
}

.register {
  font-family: 'Montserrat', sans-serif;
}

.modal {
  color: black;
}