* {
    font-family: 'Poppins', sans-serif;
}

.opening {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 100px;
    color: goldenrod;
    background: none;
    border: goldenrod;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.information {
    margin-top: 20px;
    list-style: none;
    display: table;
  }
  
li {
    display: table-row;
  }

b {
    display: table-cell;
    padding-right: 1em;
  }

.movie-detail {
    margin-left: 100px;
}

.title {
  margin-top: 100px;
    margin-left: 40px;
    font-weight: bolder;
    color: rgb(33, 101, 100);
    font-size: 35px;
    width: 500px;
}

#toggle-edit {
  margin-left: 45px;
  margin-bottom: 50px;
  font-size:x-large;
}

.container-update {
  margin-left: 70px;
}

.poster {
    margin-top: 30px;
    margin-left: 80px;
}

  div.card {
    margin-left: 45px;
    margin-top: 50px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

.seat-box, .selected-seat-box, .paid-seat-box{
    height: 40px;
    width: 40px;
    background-color: maroon;
    margin: 5px;
    color: white;
    cursor: pointer;
}

.schedule {
  margin-left: -20px;
}

.schedule-form {
  margin-left: -20px;
  margin-top: -170px;
}

.selected-seat-box{
    background-color: rgb(14, 14, 106);
}

.paid-seat-box{
    background-color: rgb(13, 58, 13);
}

.schedule-card{
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.check-out {
    margin-left: 200px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.alert {
  margin-top: 50px;
}

.login-box {
  margin-left: -150px;
  margin-top: 30px;
}

.login-title {
  margin-left: -7px;
  color: rgb(33, 101, 100);
  font-size: x-large;
}

.form-group {
  margin-top: 10px;
  margin: 10px;
  color: #020202;
}

.button-login {
  margin-left: 30px;
}

#updateMovie {
  margin-top: 30px;
  margin-left: -200px;
  margin-bottom: 30px;
}

.schedule-title {
  margin-left: -5px;
  font-size: 30px;
  margin-top: -130px;
  color: teal;
}

.button-update {
  margin-top: 5px;
  margin-left: 255px;
}


.container-add-schedule {
  margin-top: 200px;
  margin-left: -150px;
}

.container-edit-schedule {
  margin-top: -40px;
}

.button-add-schedule {
  width: 150px;
  margin-top: 15px;
  margin-left: 100px;
}

#add-schedule-button{
  cursor: pointer;
  margin-bottom: -30px;
  font-size: x-large;
  margin-left: -30px;
}

.edit-schedule-box {
  margin-top: 50px;
}

#edit-schedule-button {
  font-size: medium;
  margin-left: 200px;
  cursor: pointer;
  font-size: x-large;
}

.edit-schedule {
  margin-left: 500px;
  cursor: pointer;
  margin-top: -70px;
}

.schedule-edit-title {
  font-size: 30px;
  margin-left: -5px;
  color: teal;
}

.button-edit-schedule {
  width: 150px;
  margin-top: 15px;
  margin-left: 100px;
}